<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{20} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Our own infrastructure: informative -->
  <logger name="kz.dias.aqa" level="INFO"/>

  <!-- Third-party libraries: only problems -->
  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
